
<div class="row">
  <div class="medium-8 columns medium-centered">
    <div class="posts">
  
      <% @posts.each do |post| %>
        <div class="post">
          <h3><%= link_to post.title, post %></h3>
          <div class="content">
            <%= render post.body %>
          </div>
          <% if signed_in? %>
          <div class="actions">
            <%= link_to 'Edit', edit_post_path(post) %> | 
            <%= link_to('Destroy', post, method: :delete, data: { confirm: 'Are you sure?', foo: "bar" }) %>
          </div>
          <% end %>
        </div>
      <% end %>
  
    </div>
    
  </div>
</div>